@font-face {
    font-family: spfont;
    src: url(../../SpongeboyRegular-gx2n6.otf);
}

h1, h2 {
    font-family: spfont, sans-serif;
    letter-spacing: 1px;
}

* {
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: url(../images/spongebob1.png) no-repeat center center;
    background-size: cover;
}



img {
    width: 100px;
}

.header {
    height: 120px;
    width: 530px;
    position: relative;
    margin: 20px auto;
    text-align: center;
}

.flip-game {
    width: 500px;
    height: 500px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.flip-cards {
    height: calc(33% - 10px);
    width: calc(25% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
}

.flip-cards:active {
    transform: scale(95%);
    transition: transform.2s ;

}

.front,
.back {
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 5px;
}

.controls {
    height: 75px;
    width: 500px;
    margin: 20px auto;
}

.button {
    background: black;
    color: white;
    font-family: spfont, sans-serif;
    font-size: 150%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    transform: scale(1);
}

button:active {
    transform: scale(95%);
    transition: transform.2s ;
}

button:hover{
    background-color: aqua;

}

.flips {
    padding: 10px;
    color: white;
    height: 70px;
    width: 290px;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    background: black;
    border-radius: 10px;
}

.btn {
    height: 70px;
    width: 200px;
    display: inline-flex;
    justify-content: space-between;
}

span{
    font-size: 150%;
}