@font-face {
    font-family: spfont;
    src: url(../../SpongeboyRegular-gx2n6.otf);
}

h1,
h2,
h3 {
    font-family: spfont, sans-serif;
    letter-spacing: 1px;
}

* {
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    height: 105vh;
    background: url(../images/spongebob1.png) no-repeat center center;
}

img {
    width: 100px;
}

.header {
    height: 120px;
    width: 530px;
    position: relative;
    margin: 20px auto;
    text-align: center;
}

/* memory game */
.flip-game {
    width: 500px;
    height: 500px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.flip-card {
    height: calc(50% - 10px);
    width: calc(25% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.flip-card-medium {
    height: calc(33.33% - 10px);
    width: calc(25% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.flip-card-hard {
    height: calc(25% - 10px);
    width: calc(25% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.flip-card:active,
.flip-card-medium:active,
.flip-card-hard:active {
    transform: scale(0.97);
    transition: transform.2s;
}

.flip-card.flip,
.flip-card-medium.flip,
.flip-card-hard.flip {
    transform: rotateY(180deg);
}

.front,
.back {
    height: 100%;
    width: 100%;
    position: absolute;
    border: 4px solid black;
    border-radius: 5px;
    backface-visibility: hidden;
}

.front {
    transform: rotateY(180deg);
}

/* buttons */
.controls {
    height: 75px;
    width: 215px;
    margin: 20px auto;
}

button {
    background: black;
    color: white;
    font-family: spfont, sans-serif;
    font-size: 150%;
    padding: 10px;
    border-radius: 10px;
    letter-spacing: 1px;
}

button:hover {
    background-color: lightblue;
}

.moves {
    padding: 10px;
    height: 70px;
    width: 285px;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
}

.counterflips {
    height: 70px;
    width: 385px;
    margin: 10px auto;
}

.btn {
    height: 70px;
    width: 210px;
    display: inline-flex;
    justify-content: space-between;
}

/* modal */
.modalClass {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal {
    background-color: rgba(0, 0, 0, 0.8);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    display: flex;
    flex-direction: column;
    color: white;
}

.menu {
    height: 140px;
    width: 250px;
    margin: 200px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

span {
    font-size: 150%;
}

.close {
    color: white;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: lightblue;
    text-decoration: none;
    cursor: pointer;
}

/* audio */
.playbutton {
    height: 70px;
    width: 90px;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

a {
    font-size: 150%;
}

a:hover {
    color: white;
}

/* media queries */
/* for media-queries from 600px wide and down */
@media screen and (max-width: 600px) {
    .modal {
        width: 90%;
    }
}

/* for media-queries from 560px wide and down */
@media screen and (max-width: 560px) {
    .header {
        width: 100%;
        font-size: 80%;
    }

    .flip-game {
        width: 100%
    }

    .controls {
        height: 80px;
        width: 215px;
    }

    .counterflips {
        width: 100%;
        display: inline-flex;
    }
}

/* for media-queries from 440px wide and down */
@media screen and (max-width: 440px) {
    .header {
        font-size: 70%;
        height: 145px;
    }
}

/* for media-queries from 450px height */
@media screen and (max-height: 450px) {
    .header {
        font-size: 50%;
        height: 55px;
        margin: 0 auto;
    }
    .counterflips {
        font-size: 50%;
        height: 30px;
        margin: 0 auto;
        width: 210px;
    }

    .moves {
        height: 40px;
        width: 150px;
    }

    .playbutton {
        height: 20px;
        width: 45px;
    }

    .flip-game {
        height: 300px;
        width: 350px;
    }

    button {
        font-size: 50%;
        height: 30px;
        padding: 10px;
    }

    .controls {
        margin: 0 auto;
        height: 30px;
        width: 115px;
        display: flex;
    }

    body {
        height: 450px;
    }

    .menu {   
        margin: 100px auto;
         height: 70px;
}